%div{class: 'row stack-table', hidden: true}
  %div{class: 'col-xs-2 synergy-leading'} 
    %button{class: 'btn btn-primary active btn-block synergy-leading-top synergy-span'}
      Offensive Synergy
  %div{class: 'col-xs-2'}
    %div{class: 'row'}
      %div{class: 'col-xs-12 synergy-mid'} 
        %button{class: 'btn btn-default disabled btn-block synergy-mid synergy-cell', id: 'stack_stat_physical_attack_increase'} 
          ATK Up
      %div{class: 'col-xs-12 synergy-mid'}
        %button{class: 'btn btn-default disabled btn-block synergy-mid synergy-cell', id: 'stack_stat_magical_attack_increase'} 
          M.ATK Up
  %div{class: 'col-xs-2 synergy-mid'}
    %button{class: 'btn btn-default disabled btn-block synergy-mid synergy-span', id: 'stack_stat_damage_output_increase'} 
      Damage Output Up
  %div{class: 'col-xs-2 synergy-mid'} 
    %button{class: 'btn btn-default disabled btn-block synergy-mid synergy-span', id: 'stack_stat_incoming_damage_increase'} 
      Damage Received Up
  %div{class: 'col-xs-2'}
    %div{class: 'row'}
      %div{class: 'col-xs-12 synergy-mid'} 
        %button{class: 'btn btn-default disabled btn-block synergy-mid synergy-cell', id: 'stack_stat_incoming_physical_damage_increase'} 
          PHY Resist Down
      %div{class: 'col-xs-12 synergy-mid'} 
        %button{class: 'btn btn-default disabled btn-block synergy-mid synergy-cell', id: 'stack_stat_incoming_magical_damage_increase'} 
          MAG Resist Down
  %div{class: 'col-xs-2 synergy-closing'} 
    %button{class: 'btn btn-default disabled btn-block synergy-closing-top synergy-span', id: 'stack_stat_defense_decrease'} 
      DEF Down

%div{class: 'row stack-table stack-wide', hidden: true}
  %div{class: 'col-xs-6', style: 'text-align: right'} 
    %span{class: 'glyphicon glyphicon-arrow-left'}
    &nbsp;
    %strong Allies
  %div{class: 'col-xs-6'} 
    %strong Opponents
    &nbsp;
    %span{class: 'glyphicon glyphicon-arrow-right'}

%div{class: 'row stack-table', hidden: true}
  %div{class: 'col-xs-2 synergy-leading'} 
    %button{class: 'btn btn-default disabled btn-block synergy-leading-bottom synergy-span', id: 'stack_stat_defense_increase'}
      DEF Up
  %div{class: 'col-xs-2'}
    %div{class: 'row'}
      %div{class: 'col-xs-12 synergy-mid'} 
        %button{class: 'btn btn-default disabled btn-block synergy-mid synergy-cell', id: 'stack_stat_incoming_physical_damage_decrease'} 
          PHY Resist Up
      %div{class: 'col-xs-12 synergy-mid'}
        %button{class: 'btn btn-default disabled btn-block synergy-mid synergy-cell', id: 'stack_stat_incoming_magical_damage_decrease'} 
          MAG Resist Up
  %div{class: 'col-xs-2 synergy-mid'}
    %button{class: 'btn btn-default disabled btn-block synergy-mid synergy-span', id: 'stack_stat_incoming_damage_decrease'} 
      Damage Received Down
  %div{class: 'col-xs-2 synergy-mid'} 
    %button{class: 'btn btn-default disabled btn-block synergy-mid synergy-span', id: 'stack_stat_damage_output_decrease'} 
      Damage Output Down
  %div{class: 'col-xs-2'}
    %div{class: 'row'}
      %div{class: 'col-xs-12 synergy-mid'} 
        %button{class: 'btn btn-default disabled btn-block synergy-mid synergy-cell', id: 'stack_stat_physical_attack_decrease'} 
          ATK Down
      %div{class: 'col-xs-12 synergy-mid'} 
        %button{class: 'btn btn-default disabled btn-block synergy-mid synergy-cell', id: 'stack_stat_magical_attack_decrease'} 
          M.ATK Down
  %div{class: 'col-xs-2 synergy-closing'} 
    %button{class: 'btn btn-primary active btn-block synergy-closing-bottom synergy-span'} 
      Defensive Synergy
%br

- stack_tables.each do |e|
  %div{class: 'row stack-table', hidden: true}
    %div{class: 'col-xs-1'}
    - if e[0] == nil
      %div{class: 'col-xs-6'}
    - else
      = generate_ii_stack(position: e[2], 
                          side: 'leading', 
                          stat: 'immunity_to', 
                          name: e[0],
                          name_id: e[4])
      %div{class: 'col-xs-2 synergy-mid'}
        %button{class: 'btn btn-default disabled btn-block synergy-mid'}
          = e[0]
      = generate_ii_stack(position: e[2], 
                          side: 'closing', 
                          stat: 'inflict', 
                          name: e[0],
                          name_id: e[4])

    - if e[1] == nil
      %div{class: 'col-xs-4'}
    - else
      = generate_ss_stack(side: e[3], 
                          name: e[1],
                          name_id: e[5],
                          bidir: e[6])