%div{class: 'row stack-table', hidden: true}
  %div{class: 'col-xs-2 synergy-leading'} 
    %button{class: 'btn btn-primary active btn-block synergy-leading-top synergy-span'}
      Offensive Synergy
  %div{class: 'col-xs-2'}
    %div{class: 'row'}
      %div{class: 'col-xs-12 synergy-mid'} 
        %button{class: 'btn btn-default disabled btn-block synergy-mid synergy-cell', id: 'phy-up'} 
          PHY Up
      %div{class: 'col-xs-12 synergy-mid'}
        %button{class: 'btn btn-default disabled btn-block synergy-mid synergy-cell', id: 'mag-up'} 
          MAG Up
  %div{class: 'col-xs-2 synergy-mid'}
    %button{class: 'btn btn-default disabled btn-block synergy-mid synergy-span', id: 'dmg-out-up'} 
      Damage Output Up
  %div{class: 'col-xs-2 synergy-mid'} 
    %button{class: 'btn btn-default disabled btn-block synergy-mid synergy-span', id: 'dmg-in-up'} 
      Damage Received Up
  %div{class: 'col-xs-2'}
    %div{class: 'row'}
      %div{class: 'col-xs-12 synergy-mid'} 
        %button{class: 'btn btn-default disabled btn-block synergy-mid synergy-cell', id: 'phy-res-down'} 
          PHY Resist
      %div{class: 'col-xs-12 synergy-mid'} 
        %button{class: 'btn btn-default disabled btn-block synergy-mid synergy-cell', id: 'mag-res-down'} 
          MAG Resist
  %div{class: 'col-xs-2 synergy-closing'} 
    %button{class: 'btn btn-default disabled btn-block synergy-closing-top synergy-span', id: 'def-down'} 
      Defense Down

%div{class: 'row stack-table', hidden: true}
  %div{class: 'col-xs-2 synergy-leading'} 
    %button{class: 'btn btn-default disabled btn-block synergy-leading-bottom synergy-span', id: 'def-up'}
      Defense Up
  %div{class: 'col-xs-2'}
    %div{class: 'row'}
      %div{class: 'col-xs-12 synergy-mid'} 
        %button{class: 'btn btn-default disabled btn-block synergy-mid synergy-cell', id: 'phy-res-up'} 
          PHY Resist Up
      %div{class: 'col-xs-12 synergy-mid'}
        %button{class: 'btn btn-default disabled btn-block synergy-mid synergy-cell', id: 'mag-res-up'} 
          MAG Resist Up
  %div{class: 'col-xs-2 synergy-mid'}
    %button{class: 'btn btn-default disabled btn-block synergy-mid synergy-span', id: 'dmg-in-down'} 
      Damage Received Down
  %div{class: 'col-xs-2 synergy-mid'} 
    %button{class: 'btn btn-default disabled btn-block synergy-mid synergy-span', id: 'dmg-out-down'} 
      Damage Output Down
  %div{class: 'col-xs-2'}
    %div{class: 'row'}
      %div{class: 'col-xs-12 synergy-mid'} 
        %button{class: 'btn btn-default disabled btn-block synergy-mid synergy-cell', id: 'phy-down'} 
          PHY Down
      %div{class: 'col-xs-12 synergy-mid'} 
        %button{class: 'btn btn-default disabled btn-block synergy-mid synergy-cell', id: 'mag-down'} 
          MAG Down
  %div{class: 'col-xs-2 synergy-closing'} 
    %button{class: 'btn btn-primary active btn-block synergy-closing-bottom synergy-span'} 
      Defensive Synergy
%br

- stack_tables.each do |e|
  %div{class: 'row stack-table', hidden: true}
    %div{class: 'col-xs-1'}
    - if e[0] == nil
      %div{class: 'col-xs-6'}
    - else
      = generate_ii_stack(position: e[2], 
                          side: 'leading', 
                          stat: 'immunity_to', 
                          name: e[0],
                          name_id: e[4])
      %div{class: 'col-xs-2 synergy-mid'}
        %button{class: 'btn btn-default disabled btn-block synergy-mid'}
          = e[0]
      = generate_ii_stack(position: e[2], 
                          side: 'closing', 
                          stat: 'inflict', 
                          name: e[0],
                          name_id: e[4])

    - if e[1] == nil
      %div{class: 'col-xs-4'}
    - else
      = generate_ss_stack(side: e[3], 
                          name: e[1],
                          name_id: e[5],
                          bidir: e[6])