.container-fluid
  %div{id: 'left-bar', class: 'col-md-4'}
    %div{class: 'panel'}
      %div{class: 'panel-heading'}
        %div{class: 'input-group'}
          %span{class: 'input-group-addon'}
            %span{class: 'glyphicon glyphicon-search'}
          %input{type: 'text', 
                 class: 'form-control input-lg', 
                 size: 64, 
                 placeholder: 'Try \'stun\'',
                 id: 'search-input'}
      %div{class: 'panel-body', id: 'panel-search-result-body'}
        %div{class: 'panel panel-primary'}
          %div{class: 'panel-heading'}
            Hero
            %span{class: 'badge pull-right', id: 'hero-result-count'}
          %ul{class: 'list-group panel-search-result', id: 'hero-result'}
        %div{class: 'panel panel-primary'}
          %div{class: 'panel-heading'}
            Skills
            %span{class: 'badge pull-right', id: 'skill-result-count'}
          %ul{class: 'list-group panel-search-result', id: 'skill-result'}
        %div{class: 'panel panel-primary'}
          %div{class: 'panel-heading'}
            Effects
            %span{class: 'badge pull-right', id: 'effect-result-count'}
          %ul{class: 'list-group panel-search-result-infinte', id: 'effect-result'}
  %div{id: 'right-bar', class: 'col-md-8'}
    %table{id: 'compare-table'}
      %thead
        %tr
          %th{'data-class' => 'compare-table-th'}
      %tbody
        %tr
          %td Portrait
        %tr
          %td Skill 1
        %tr
          %td Skill 2
        %tr
          %td Passive
        %tr
          %td Awakening

    %table{id: 'stack-table'}
      %thead
        %tr
          %th{class: 'col-xs-4', 'data-sortable' => 'true'} Effects
          %th{class: 'col-xs-8'} Contributors
      %tbody

= javascript_include_tag 'launch_search'
= javascript_include_tag 'bst_interface_compare'
= javascript_include_tag 'bst_interface_stack'