%div{class: 'tabular-toolbar'}
	%div{class: 'col-xs-12'}
		Level
		%span{id: 'lv-text'} 30

		&nbsp;
		&nbsp;
		%span
			%input{id: 'lv'}
		&nbsp;
		&nbsp;
		&nbsp;
		%span
			%input{id: 'plus'}
		&nbsp;
		+
		%span{id: 'plus-text'} 0


%div{class: 'col-xs-12'}
	%table{id: 'stat-table', 'data-height' => '32em'}
		%thead
			%tr
				%th{'data-field' => 'element', 'data-formatter' => 'format_hero_element', 'data-sortable' => 'true'} E
				- if defined? @compact_tabular
					%th{'data-field' => 'name', 
							'data-sortable' => 'true', 
							'data-searchable' => 'true', 
							'data-formatter' => 'format_compact_name_with_dynamic_buttons', 
							'data-sort-name' => 'stripped_name'} Name
				- else
					%th{'data-field' => 'name', 'data-sortable' => 'true', 'data-searchable' => 'true', 'data-formatter' => 'format_mute_name', 'data-sort-name' => 'stripped_name'} Name
					%th{'data-field' => 'rank', 'data-sortable' => 'true'}
						%span{class: 'glyphicon glyphicon-star'}

				%th{'data-field' => 'hp_calc', 'data-sortable' => 'true', 'data-align' => 'right'} HP
				%th{'data-field' => 'atk_calc', 'data-sortable' => 'true', 'data-align' => 'right', 'data-visible' => 'false'} PHY
				%th{'data-field' => 'mag_calc', 'data-sortable' => 'true', 'data-align' => 'right', 'data-visible' => 'false'} MAG
				%th{'data-field' => 'def_calc', 'data-sortable' => 'true', 'data-align' => 'right', 'data-visible' => 'false'} DEF
				%th{'data-field' => 'spd_calc', 'data-sortable' => 'true', 'data-order' => 'desc', 'data-align' => 'right'} SPD
		%tbody

= javascript_include_tag 'stat_table'
= javascript_include_tag 'stat_initializer'