%div{class: 'col-xs-2'}
  %div{id: 'mechanics-navbar'}
    %ul{class: 'nav nav-pills nav-stacked'}
      %li
        %a{href: '#stat-modifiers-area'} Stat Modifiers
      %li
        %a{href: '#status-effects-area'} Status Effects
%div{class: 'col-xs-10', id: 'scrollable-scrollspy'}
  #stat-modifiers-area
  = render template: 'mechanics/stat_modifiers'
  #status-effects-area
  = render template: 'mechanics/status_effects'


:javascript
  $('#scrollable-scrollspy').scrollspy({
    target: '#mechanics-navbar'
  });

  $(window).on('resize', function() {
    resize_bst_area('#stat-modifiers-table');
    resize_bst_area('#status-effects-table');
  })  

  $('#mechanics-navbar a').on('click', function(e) {
    e.preventDefault();

    var hash = this.hash;
    $('#scrollable-scrollspy').animate({
      scrollTop: $(hash).offset().top
    }, 250, function() {
      window.location.hash = hash;
    });
  });