%div{class: 'col-xs-4'}
  %div{id: 'mechanics-navbar'}
    %ul{class: 'nav affix-top'}
      %li
        %a{href: '#stat-modifiers-toolbar'} Stat Modifiers
      %li
        %a{href: '#status-effects-toolbar'} Status Effects
%div{class: 'col-xs-8'}
  = render template: 'mechanics/status_effects'
  = render template: 'mechanics/stat_modifiers'

:javascript
  $('body').scrollspy({
    target: '#mechanics-navbar',
  });