%div{id: 'masteries-toolbar'}
  %h4
    %strong Masteries

%table{id: 'masteries-table', 'data-height' => '32em'}
  %thead
    %tr
      %th{'data-align' => 'right', 'data-halign' => 'center'} Level
      %th{'data-align' => 'right', 'data-halign' => 'center', 'data-formatter' => 'rubies_formatter'} Rubies
      %th{'data-halign' => 'center', 'data-searchable' => 'true'} Offensive
      %th{'data-halign' => 'center', 'data-searchable' => 'true'} Defensive
  %tbody
    %tr
      %td 10
      %td 2
      %td PHY/MAG +5%
      %td DEF +5%
    %tr
      %td 15
      %td 5
      %td Critical Rate +10%
      %td Block Rate +10%
    %tr
      %td 20
      %td 10
      %td Lethal Rate +10%
      %td Counter Rate +10%
    %tr
      %td 25
      %td 20
      %td{colspan: 2} 
        %div{align: 'center'} 
          %strong Healing Potency +10%
    %tr
      %td 30
      %td 35
      %td Speed +10%
      %td HP +10%
    %tr
      %td 35
      %td 65
      %td PHY/MAG +10%
      %td DEF +10%
    %tr
      %td 40
      %td 110
      %td{colspan: 2} 
        %div{align: 'center'} 
          %strong Skill Damage +10%
    %tr
      %td 45
      %td 160
      %td Increase damage by level difference (Arena only)
      %td Decrease damage by level difference (Arena only)
    %tr
      %td 50
      %td 210
      %td Opponents' Critical Rate -20%
      %td Opponents' Block Rate -20%
    %tr
      %td 55
      %td 270
      %td Opponents' Lethal Rate -20%
      %td Opponents' Counter Rate -20%
    %tr
      %td 60
      %td 360
      %td{colspan: 2}
        %div{align: 'center'} 
          %strong Opponents' Healing Potency -20%
    %tr
      %td 65
      %td 500
      %td Critical Damage +20%
      %td Opponent's HP -15% (Arena only)
    %tr
      %td 70
      %td 650
      %td Opponents' PHY/MAG -20%
      %td Opponents' DEF -20%
    %tr
      %td 75
      %td 800
      %td{colspan: 2}
        %div{align: 'center'} 
          %strong PHY/MAG +20%
    %tr
      %td{colspan: 4, class: 'bg-primary'}
        %div{align: 'center'} 
          %strong Future content
    %tr
      %td 80
      %td 800
      %td Lethal Damage +10%
      %td Block Damage -10%
    %tr
      %td 85
      %td 850
      %td Opponents' SPD -10%
      %td Opponents' Critical Rate -10%
    %tr
      %td 90
      %td 900
      %td Opponents' Block Rate -20%
      %td Opponents' Counter Rate -20%
    %tr
      %td 95
      %td 950
      %td{colspan: 2}
        %div{align: 'center'} 
          %strong Gold Drop Rate +5%
    %tr
      %td 100
      %td 1000
      %td Item Drop Rate +5%
      %td Hero Drop Rate +5%
    %tr
      %td 105
      %td 1050
      %td{colspan: 2} 
        %div{align: 'center'} 
          %strong Decrease Skill Cooldown by 5%
    %tr
      %td 110
      %td 1100
      %td PHY/MAG +10%
      %td DEF +10%   

:javascript
  $('#masteries-table').bootstrapTable({
    toolbar: '#masteries-toolbar',
    search: true,
    onPostBody: function() {
      resize_once('#masteries-table');
    }
  });

  function rubies_formatter(value) {
    return '<strong>' + value + '</strong>';
  }