%div{id: 'status-effects-toolbar'}
  %h4
    %strong Status Effects

%table{id: 'status-effects-table', 'data-height' => '32em'}
  %thead
    %tr
      %th{'data-field' => 'inflicts', 'data-formatter' => 'format_inflict', 'data-searchable' => 'true', 'data-halign' => 'center'} Inflicts
      %th{'data-field' => 'status_effect', 'data-formatter' => 'format_status_effect', 'data-sortable' => 'true', 'data-align' => 'center'} Status Effects
      %th{'data-field' => 'immunities', 'data-formatter' => 'format_immunity', 'data-searchable' => 'true', 'data-halign' => 'center'} Immunities

= javascript_include_tag 'stat_table'
= javascript_include_tag 'mechanics_formatter'
:javascript
  function format_inflict(value, row, index) {
    var s = '';

    $.each(group(row.inflicts), function(hero, data) {
      s += group_format(hero, data, 'left');
    });

    return s;
  }

  function format_immunity(value, row, index) {
    var s = '';

    $.each(group(row.immunities), function(hero, data) {
      s += group_format(hero, data, 'right');
    })

    return s;
  }

  function format_status_effect(value, row, index) {
    return '<strong>' + value[0].toUpperCase() + value.substring(1) + '</strong>';
  }

  $('#status-effects-table').bootstrapTable({
    url: '/mechanics/status_effects/fetch',
    search: true,
    onPostBody: function() {
      resize_once('#status-effects-table');
    },
    toolbar: '#status-effects-toolbar'
  })