%div{id: 'stat-modifiers-toolbar'}
  %h4 
    %strong Stat Modifiers

%table{id: 'stat-modifiers-table'}
  %thead
    %tr
      %th{'data-field' => 'decrease', 'data-formatter' => 'format_decrease', 'data-halign' => 'center', 'data-searchable' => 'true'} Decrease
      %th{'data-field' => 'modifier', 'data-formatter' => 'format_modifier', 'data-sortable' => 'true', 'data-align' => 'center', 'data-sort-name' => 'modifier'} Modifier
      %th{'data-field' => 'increase', 'data-formatter' => 'format_increase', 'data-halign' => 'center', 'data-searchable' => 'true'} Increase

= javascript_include_tag 'stat_table'
= javascript_include_tag 'mechanics_formatter'
:javascript
  $('#stat-modifiers-table').bootstrapTable({
    url: '/mechanics/stat_modifiers/fetch',
    height: 720,
    search: true,
    toolbar: '#stat-modifiers-toolbar'
  })

  function format_modifier(value, row, index) {
    return '<strong>' + value + '</strong>';
  }

  function format_decrease(value, row, index) {
    var s = '';
    $.each(group(row.decrease), function(hero, data) {
      s += group_format(hero, data, 'left');
    })

    return s;
  }

  function format_increase(value, row, index) {
    var s = '';
    $.each(group(row.increase), function(hero, data) {
      s += group_format(hero, data, 'right');
    })

    return s;
  }