

#left-bar, #right-bar {
  overflow: auto;
}

#left-bar {
  //resize: horizontal;
}

#right-bar {
  //resize: horizontal;
  max-height: 90vh;
}

.panel-search-result {
  overflow-y: auto;
  max-height: 12em;
}

.effect-hero-item, .effect-hero-skill-item {
  //padding-left: 1em;
}

#tab-tabular>div {
  height: 83vh;
}

#panel-search-result-body {
  overflow-y: auto;
  max-height: 72vh;
}

th.compare-table-th {
/*  min-width: 8em !important;
  max-width: 8em !important;
  width: 8em !important;*/
  text-align: center;
}

#right-bar .fixed-table-body {
  max-height: 83vh !important;
}

#right-bar .th-inner {
  min-width: 12em !important;
}

div.panel.panel-primary.condensed, div.panel.panel-default.condensed, div.panel.panel-warning.condensed {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

div.panel-heading.condensed {
  padding: 0.2em;
}

div.panel-body.condensed {
  padding: 0.2em;
}

ul.list-unstyled.condensed {
  margin-bottom: 0;
}

.glyphicon-green {
  color: #5CB85C;
}

.glyphicon-red {
  color: #D9534F;
}

.stack-wide {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

span.label.label-primary.label-stack {
  display:inline-block;
  line-height: 150%;
  text-align: left;
} 

.stack-first-column {
  font-weight: bold;
}

.bootstrap-table {
  margin: 0.5em 0em 0.5em 0em;
}

.multi-line-vertical-centered {
  vertical-align: center;
}

.compare-table {
  //max-height: 50vh;
}

/*span.label {
  padding-top: 4px;
}*/

div#toolbar .label-group>.label:nth-child(2) {
  margin-left: -0.4em;
}

.label-group>.label:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0em;
  opacity: 0.7;
}
    
.label-group>.label:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0em;
}

div.synergy-leading {
  padding-right: 0;
}

div.synergy-mid {
  padding-left: 0;
  padding-right: 0;
  height: 100%;
}

div.synergy-closing {
  padding-left: 0;
}

.btn {
  white-space: normal !important;
  word-wrap: break-word;
}

.btn.synergy-mid {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.btn.synergy-leading {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0em;
}

.btn.synergy-closing {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0em;
}

.synergy-cell {
  height: 2.5em;
}
.synergy-span {
  height: 5em;
}

.btn.synergy-leading-top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn.synergy-leading-bottom {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

.btn.synergy-closing-top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
}

.btn.synergy-closing-bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}

.btn.synergy-bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn.synergy-top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.no-wrap {
  white-space: nowrap;
}

div#team-stats {
  text-align: right;
}

#scrollable-scrollspy {
  height: 90vh;
  overflow-y: auto;
}

.navbar-inverse.no-rounding {
  border-radius: 0px;
}

.pseudo-footer.styled {
  text-align: center;
  font-weight: bold;
}