/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.power-ups-group {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 2em;
}

.small-pad {
	margin-bottom: 0.25em;
}

.slider-track-low {
  background-color: #337ab7;
}